@use '../../vendor/fonts/fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: white;
  border-left: #727272 1px solid;
  border-right: #727272 1px solid;
  max-width: 1280px;
  margin: auto;
  font-family: Inter, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 0.8;
  color: #484848;
}
