$card-width: 350px;
$card-height: 400px;

.card {
    width: $card-width;
    height: $card-height;
    padding: 5px;
    border-radius: 4px;
    border: #b2b2b2 1px solid ;
}

.cardTitle {
    width: 100%;
    font-size: 4vh;
    padding: 10px;
    text-align: center;
}
.cardContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

