
.container {
	width: 100%;
	padding: 15px;
	display: flex;
	flex-direction: column;
	box-shadow: #737373 3px 3px 5px;
	background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(206, 206, 206) 100%);
	border-radius: 6px;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: #b2b2b2 1px solid;
	padding-bottom: 10px;
}

.title {
	font-size: 24px;
	letter-spacing: 1.5px;
	font-weight: 600;
}

.addButton {
	padding: 2px 5px !important;
	font-weight: 600;
	margin: 0;
}

.addButton:hover {
	background-color: rgba(178, 178, 178, 1);
	cursor: pointer;
}


.buttonsBar {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.content {
	padding: 5px 0;
	display: grid;
	grid-template-columns: repeat(2, max-content);
	gap: 40px;
	justify-content: space-between;
}

.meals {
	display: grid;
	grid-template-columns: max-content;
	grid-auto-rows: min-content;
	gap: 6px;
}

.meal {
	font-size: 17px;
	font-weight: 500;
	border-bottom: #424242 1px solid;
	padding: 5px;
	box-sizing: border-box;
	border-radius: 5px;
	background-color: rgba(208, 208, 208, 0.4);
	box-shadow: #424242 1px 1px 4px;
	cursor: pointer;
}

.meal:hover {
	background-color: rgba(208, 208, 208, 1);
}

.infoBlock {
}

.nutrition {
	max-width: max-content;
	display: grid;
	grid-auto-rows: min-content;
	grid-template-columns: max-content;
	gap: 5px;
}

.nutritionTitle {
	padding: 5px;
	text-align: center;
	border-bottom: #b2b2b2 1px solid;

}

.nutritionItem {
	padding: 5px;
	background-color: #d5d5d5;
	box-shadow: #424242 1px 1px 4px;
}