
.title {
    max-width: 400px;
    width: max-content;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 5px;
    margin: 0;
    text-align: center;
    border-radius: 3px;
    align-self: center;
}

.createProgramButton {
    max-width: 300px;
}

.createProgramButton:hover {
}

.programsBar {
    display: flex;
    flex-direction: column;
    padding: 5px 25px 5px 5px;
}
.programsContent {
    margin: 25px 0 0;
}

.buttonActive {
    transition: border-bottom-color 0.5s linear;
    border-bottom: #424242 3px solid;
    border-radius: 0;
}

.programTitle {
    font-size: 1.8rem;
    padding: 10px;
}

.cardsContainer {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}