.container {
	display: grid;
	grid-template-columns: repeat(2, max-content);
	gap: 40px;
	padding: 20px;
}

.imageContainer {
	position: relative;
	width: 80px;
	height: 80px;
	border-radius: 3px;
	border: #424242 3px solid;
	opacity: 0.7;
	transition: all 0.2s linear;
}

.imageContainer:hover {
	opacity: 1;
	border-color: #ff9f17;
}

.image {
}

.addIcon {
	position: absolute;
	height: 45px;
	width: 45px;
	opacity: 1;
	color: #1a1a1a;
	transition: all 0.2s linear;
}

.addIcon:hover {
	opacity: 1;
}


.items {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
}