.container {
	display: grid;
	grid-template-columns: 3fr 2fr;
	gap: 40px;
	padding: 20px;
	min-width: 1000px;
	min-height: 400px;
}

.imageContainer {
	position: relative;
	width: 80px;
	height: 80px;
	border-radius: 3px;
	border: #424242 3px solid;
	opacity: 0.7;
	transition: all 0.2s linear;
}

.imageContainer:hover {
	opacity: 1;
	border-color: #ff9f17;
}

.image {
}

.addIcon {
	position: absolute;
	height: 45px;
	width: 45px;
	opacity: 1;
	color: #1a1a1a;
	transition: all 0.2s linear;
}

.addIcon:hover {
	opacity: 1;
}


.items {
	display: grid;
	grid-template-columns: repeat(4,75px);
	gap: 15px;
}
.listItem {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

.listItemName {
	background: #f5f5f5;
	padding: 5px 10px;
	border-radius: 12px;
	max-width: max-content;
}
.foodSelector {
	min-width: 500px;
}

.input {
	border: none;
	max-width: 50px;
	text-underline: none;
	text-align: end;
}

.chosenFoodsTitle {
	padding: 0 0 20px 0;
	font-size: 25px;
	letter-spacing: 2px;
	text-align: center;
}