.container {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.programsList {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.programContent {
    display: flex;
    flex-direction: column;
}
.programExercises {
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.cardContainer {
    width: 240px;
    height: 300px;
    border: #b2b2b2 1px solid;
    border-radius: 4px;
    padding: 5px;
}
.cardItems {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:3px;
    font-size: 1.5vh;
    line-height: 2vh;
    gap: 5px;
    border-bottom: #bfbfbf 1px solid;
}