.workoutContainer {
    display: flex;
    gap: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
    min-width: 400px;
    height: 450px;
    border-radius: 6px;
    background-color: #e1e1e1;
    box-shadow: black 0 0 5px;
}

.cardTitle {
    font-size: 1.8rem;
    font-weight: 600;
    padding: 5px;
    text-align: center;
}

.cardSubtitle {
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
}

.cardContent {
    height: 100%;
    margin: 0 5px;
}

.cardItem {
    font-weight: 600;
    font-size: 0.8rem;
    border-bottom: 1px #bfbfbf solid;
}

.cardItemText {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.actionButton {
    width: 50px;
    border-radius: 3px;
}


.dayCheckbox {

}

.dayCheckbox:checked {
    background-color: white;
}



.confirmButton:hover {
}

.stepContainer {
    min-width: 700px;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.stepTitle {
    align-self: center;
    max-width: 400px;
    margin: 5px;
    padding: 5px;
    font-size: 1.4rem;
    font-weight: 400;

}

