.button {
    background-color: inherit;
    border-radius: 0;
    max-height: 40px;
}

.activeButton {
    border-bottom: #424242 3px solid;
}
.activeButton:hover {
    background-color: #e0e0e0;
    cursor: default;
}