.container {
	min-width: 100%;
	min-height: 100%;
	background-color: #afafaf;
}
.title {
	display: inline-block;
	margin: 0 auto;
}
.table {
	width: 100%;
}
.tableItem {
	font-size: 18px;
	font-weight: 700;
	line-height: 18px;
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	gap: 40px;
}

.popupInput {
	box-sizing: border-box;
	padding: 5px;
	min-height: 27px;
	margin: 0 22px 30px;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	border: 0;
	border-bottom: 1px solid rgba(0, 0, 0, .2);
}

@media (min-width: 1280px) {
	.popupInput {
		margin: 0 36px 30px;
	}
}

